<div class="content" role="main">

  <!--Header-Entrega-->
  <div class="row">
    <div class="col-12 justify-content-center">
      <app-headerentrega>

      </app-headerentrega>
    </div>
  </div>


  <!--Body da tela de Identificação-->
 <!--  <app-bodyidentificacao></app-bodyidentificacao> -->

 <!--Body da tela de Login-->
  <!-- <app-bodylogin></app-bodylogin> -->

  <!--Body da tela de Entrega-->
  <!-- <app-bodyentrega></app-bodyentrega> -->

  <!--Body da tela de Minha Conta-->
  <app-bodyminhaconta></app-bodyminhaconta>

  <!--Body da tela de Adicionar Cartão de Crédito-->
<!--   <app-bodyadccartao></app-bodyadccartao> -->

<!--Header da tela de home-->
<!-- <div class="col-12">
<app-headerhome></app-headerhome>
</div> -->

<!--Footer da tela de home-->
<!-- <div class="col-12">
<app-footerhome></app-footerhome>
</div>
 -->
  <!--Footer-Entrega-->
  <div class="row">
    <div class="col-12 justify-content-center">
      <app-footerentrega></app-footerentrega>
    </div>
  </div>
</div>

