<!--Dados do cartão de crédito-->
<div class="col-sm-9 py-3">
  <h5 class="adccartao text-center">Adicionar Cartão de Crédito</h5>
  <form>
    <div class="formLogin">
      <div class="form-group col-9">
        <label for="bairro">Nome do Titular*</label>
        <input type="text" class="form-control" id="bairro" placeholder="Insira o nome do titular igual ao descrito no cartão" required>
        <small id="#" class="form-text text-muted"></small>
      </div>
      <div class="form-group col-9">
        <label for="">Número do Cartão*</label>
        <input type="text" class="form-control" id="" placeholder="Insira os números do cartão">
        <small id="#" class="form-text text-muted"></small>
      </div>
      <div class="form-group form-check">
      </div>

      <div class="col-sm-9 py-3">
        <p>Data de Vencimento*</p>
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Mês">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Ano">
            </div>
          </div>
        </form>
      </div>

      <div class="col-sm-3">
        <p>Código de Segurança*</p>
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="CVC">
            </div>
          </div>
        </form>
      </div>
      <!--Botão de salvar dados do cartão-->
  <div class="btn-group-toggle" data-toggle="buttons">
    <button style="background-color: #016f33!important" type="submit"
        class="btn btn-primary float-right salvacartao">SALVAR DADOS DO CARTÃO</button>
  </div>
      <div class="py-5">
      <button style="background-color: #016f33!important" type="submit"
        class="btn btn-primary float-right salva-endereco">CONTINUAR</button>
      </div>
